.heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 2rem 1rem;
}

.heading-top-right-container {
    display: flex;
    align-items: center;
}

.nav-logo {
    width: 50px;
    margin-left: 0.54em;
}

a {
    text-decoration: none;
    color: #000;
}

.heading {
    font-family: 'Cinzel', serif;
    font-size: 1.3rem;
    margin-left: 0.31em;
    font-weight: 600;
    letter-spacing: 1px;
}

.nav-links-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    top: 15%;
    right: 10%;
    height: 50%;
    padding: 1rem;
    transition: all 0.3s linear;
    position: fixed;
    background-color: #2A2F4F;
    border-radius: 6px;
    
}

.nav-navigate {
    font-size: 2rem;
}

.nav-link {
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 2px;
    cursor: pointer;
    padding: 0.31em;
    transition: all 0.3s ease-in-out;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
}

.show {
    display: none;
}
.scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.user-logo {
    display: none;
    font-size: 2rem;
}

.nav-link:hover {
    color: #FF6969;

}

@media screen and (min-width: 800px) {
    .heading {
        font-size: 1.5rem;
    }

    .nav-logo {
        width: 60px;
    }

    .nav-navigate {
        display: none;
    }

    .nav-icon {
        display: none;
    }

    .nav-link{
        color: #000;
    }
    .nav-links-container {
        position: unset;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 1em;
        height: unset;
        width: unset;
        background-color: transparent;
        color: #000;
        transition: all 0.3s linear;
    }

    .nav-link {
        font-weight: 500;
        font-size: 1.2rem;
        letter-spacing: 1px;
        cursor: pointer;
        padding: 0.31em;
        transition: all 0.3s ease-in-out;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .user-logo {
        display: unset;
    }
}