.heading-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 2rem 1rem;
}

.heading-top-right-container{
    display: flex;
    align-items: center;
}
.nav-logo{
    width: 50px;
    margin-left: 0.54em;
}
.heading{
    font-family: 'Cinzel', serif;
    font-size: 1.3rem;
    margin-left: 0.31em;
    font-weight: 600;
    letter-spacing: 1px;
}
.nav-links-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    height: 100%;
    width: 100%;
    background-color: black;
    color: #fff;
    position: absolute;
    transition: all 0.3s linear;
}
.nav-link-open{
    top: 0;
    right: 0;
}
.nav-link-close{
    top: -100%;
    right: 0;
}
.nav-navigate{
    font-size: 2rem;
}
.nav-link{
    font-weight: 500;
    font-size: 2rem;
    letter-spacing: 4px;
    cursor: pointer;
    padding: 0.31em;
    transition: all 0.3s ease-in-out;
    border: 1px solid transparent;
    border-radius: 4px;
}
.user-logo{
    display: none;
    font-size: 2rem;
}
.nav-link:hover{
    color: #FF6969;
    border-color: #FF6969;
}
.nav-icon{
    position: absolute;
    top: 6%;
    right: 5%;
    font-size: 2rem;
    color: yellow;
}

@media screen and (min-width: 800px) {
        .heading{
            font-size: 1.5rem;
        }
        .nav-logo{
            width: 60px;
        }
        .nav-navigate{
            display: none;
        }
        .nav-icon{
            display: none;
        }
        .nav-links-container{
            position: unset;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 1em;
            height: unset;
            width: unset;
            background-color: transparent;
            color: #000;
            transition: all 0.3s linear;
        }
        .nav-link{
            font-weight: 500;
            font-size: 1.2rem;
            letter-spacing: 1px;
            cursor: pointer;
            padding: 0.31em;
            transition: all 0.3s ease-in-out;
            border: 1px solid transparent;
            border-radius: 4px;
        }
        .user-logo{
            display: unset;
        }
}