.home-container{
    padding: 1rem;
    width: 100%;
    margin:  0 auto;
    text-align: center;
}
.home-banner-img{
    height: 30%;
    width: 100%;
    display: block;
}
.image-slider-icon{
    margin-top: 1rem;
    font-size: 2rem;
    margin-left: 2rem;
    padding: 0.31rem 1rem;
    background: transparent;
    border: none;
    transition: all 0.3s linear;
    cursor: pointer;
}
.image-slider-icon:hover{
    transform: rotate(-14deg);
}
.book-container{
    margin-top: 2rem;
}
@media screen and (min-width: 800px) {
    .home-container{
        max-width: 1100px;
        
    }
    .home-banner-img{
        width: 70%;
        margin: 0 auto;
    }
}